<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17G13035</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Distortionsff VST</string>
	<key>CFBundleGetInfoString</key>
	<string>Distortionsff VST v.1.1.0 by Jiacheng Li (generate mutiple distortion effect)</string>
	<key>CFBundleIdentifier</key>
	<string>com.jiachengli.distortionsffvst</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Jiacheng Li</string>
</dict>
</plist>
